### Code

In [2]:
import neo4j
import pandas as pd

In [3]:
def connect_db():
    # Connect to the neo4j database
    driver = neo4j.GraphDatabase.driver(uri="neo4j://0.0.0.0:7687", auth=("neo4j", "password"))
    session = driver.session(database="neo4j")
    return session

def wipe_out_db(session):
    # Wipe out the database
    query = """
    MATCH (n)-[r]-()
    DELETE n,r
    """
    session.run(query)

    query = """
    MATCH (n)
    DELETE n
    """
    session.run(query)

session = connect_db()
wipe_out_db(session)

In [9]:
def run_query_to_pandas(session, query):
    # run a query and return the results in a pandas dataframe
    
    result = session.run(query)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

### Data Insertion

In [30]:
query = '''
CREATE
(alice:User {user_id: 1, first_name: 'Alice', last_name: 'Smith', email: 'a.smith@gmail.com', phone_number: '1234567890', graduation_year: 2017}),
(bob:User {user_id: 2, first_name: 'Bob', last_name: 'Johnson', email: 'b.johnson@gmail.com', phone_number: '2345678901', graduation_year: 2018}),
(charlie:User {user_id: 3, first_name: 'Charlie', last_name: 'Brown', email: 'c.brown@gmail.com', phone_number: '3456789012', graduation_year: 2019}),
(diana:User {user_id: 4, first_name: 'Diana', last_name: 'Ross', email: 'd.ross@gmail.com', phone_number: '4567890123', graduation_year: 2024}),
(eric:User {user_id: 5, first_name: 'Eric', last_name: 'Clapton', email: 'e.clapton@gmail.com', phone_number: '5678901234', graduation_year: 2024}),
(fiona:User {user_id: 6, first_name: 'Fiona', last_name: 'Apple', email: 'f.apple@gmail.com', phone_number: '6789012345', graduation_year: 2024})


CREATE
(post1:Post {post_id: 1, post_text: 'I am looking for a project partner for the Capstone project.', post_date: '2023-01-01', topic: 'Education and Professional Development'}),
(post2:Post {post_id: 2, post_text: 'Anyone wants to play pool this weekend?', post_date: '2023-01-02', topic: 'Social and Recreational Activities'}),
(post3:Post {post_id: 3, post_text: 'I am looking for a job in data science.', post_date: '2023-01-03', topic: 'Education and Professional Development'}),
(post4:Post {post_id: 4, post_text: 'Does anyone have recommendations for a good Machine Learning book?', post_date: '2023-01-04', topic: 'Education and Professional Development'}),
(post5:Post {post_id: 5, post_text: 'Looking for team members for a hackathon next month.', post_date: '2023-01-05', topic: 'Education and Professional Development'}),
(post6:Post {post_id: 6, post_text: 'Selling a barely used laptop. DM for details.', post_date: '2023-01-06', topic: 'Marketplace and Exchange'}),
(post7:Post {post_id: 7, post_text: 'Looking for a study group for the machine learning course.', post_date: '2023-01-07', topic: 'Education and Professional Development'}),
(post8:Post {post_id: 8, post_text: 'Can anyone help with Python coding? I got some bugs in my code.', post_date: '2023-01-08', topic: 'Education and Professional Development'})


CREATE
(comment1:Comment {comment_id: 1, comment_text: 'I am interested.', comment_date: '2023-01-01'}), // post_id: 1
(comment2:Comment {comment_id: 2, comment_text: 'I am down.', comment_date: '2023-01-02'}), // post_id: 2
(comment3:Comment {comment_id: 3, comment_text: 'Good luck with your job search!', comment_date: '2023-01-03'}), // post_id: 3
(comment4:Comment {comment_id: 4, comment_text: 'I would recommend "Deep Learning".', comment_date: '2023-01-04'}), // post_id: 4
(comment5:Comment {comment_id: 5, comment_text: 'What skills are required for the hackathon?', comment_date: '2023-01-05'}), // post_id: 5
(comment6:Comment {comment_id: 6, comment_text: 'What are the specs of the laptop?', comment_date: '2023-01-06'}), // post_id: 6
(comment7:Comment {comment_id: 7, comment_text: 'I am also looking for a study group!', comment_date: '2023-01-07'}), // post_id: 7
(comment8:Comment {comment_id: 8, comment_text: 'I can help with Python. What issues are you facing?', comment_date: '2023-01-08'}), // post_id: 8
(comment9:Comment {comment_id: 9, comment_text: 'Send me your resume.', comment_date: '2023-01-09'}), // post_id: 3
(comment10:Comment {comment_id: 10, comment_text: 'I might join for pool!', comment_date: '2023-01-10'}), // post_id: 2
(comment11:Comment {comment_id: 11, comment_text: 'Is the project partner position still open?', comment_date: '2023-01-11'}), // post_id: 1
(comment12:Comment {comment_id: 12, comment_text: 'Can you share more details about the hackathon?', comment_date: '2023-01-12'}), // post_id: 5
(comment13:Comment {comment_id: 13, comment_text: 'I have some experience in ML. Maybe I can join the study group.', comment_date: '2023-01-13'}), // post_id: 7
(comment14:Comment {comment_id: 14, comment_text: 'How much are you asking for the laptop?', comment_date: '2023-01-14'}), // post_id: 6
(comment15:Comment {comment_id: 15, comment_text: 'Python is my forte. Let me know if you need help.', comment_date: '2023-01-15'}) // post_id: 8



CREATE
(interest1:Interest {interest_id: 1, interest_name: 'Machine Learning'}),
(interest2:Interest {interest_id: 2, interest_name: 'Pool'}),
(interest3:Interest {interest_id: 3, interest_name: 'Job Search'})

CREATE
(diana)-[:POSTED]->(post1),
(alice)-[:POSTED]->(post2),
(diana)-[:POSTED]->(post3),
(eric)-[:POSTED]->(post4),
(eric)-[:POSTED]->(post5),
(bob)-[:POSTED]->(post6),
(eric)-[:POSTED]->(post7),
(diana)-[:POSTED]->(post8)

CREATE
(fiona)-[:COMMENTED]->(comment1),
(bob)-[:COMMENTED]->(comment2),
(alice)-[:COMMENTED]->(comment3),
(bob)-[:COMMENTED]->(comment4),
(fiona)-[:COMMENTED]->(comment5),
(fiona)-[:COMMENTED]->(comment6),
(fiona)-[:COMMENTED]->(comment7),
(alice)-[:COMMENTED]->(comment8),
(alice)-[:COMMENTED]->(comment9),
(eric)-[:COMMENTED]->(comment10),
(eric)-[:COMMENTED]->(comment11),
(diana)-[:COMMENTED]->(comment12),
(diana)-[:COMMENTED]->(comment13),
(bob)-[:COMMENTED]->(comment14),
(charlie)-[:COMMENTED]->(comment15)

CREATE
(eric)-[:HAS_INTEREST]->(interest1),
(diana)-[:HAS_INTEREST]->(interest1),
(fiona)-[:HAS_INTEREST]->(interest1),
(alice)-[:HAS_INTEREST]->(interest2),
(bob)-[:HAS_INTEREST]->(interest2),
(eric)-[:HAS_INTEREST]->(interest2),
(diana)-[:HAS_INTEREST]->(interest3)

CREATE
(eric)-[:FOLLOWS]->(diana),
(eric)-[:FOLLOWS]->(fiona),
(diana)-[:FOLLOWS]->(fiona),
(diana)-[:FOLLOWS]->(eric),
(fiona)-[:FOLLOWS]->(eric),
(fiona)-[:FOLLOWS]->(diana),
(alice)-[:FOLLOWS]->(bob),
(alice)-[:FOLLOWS]->(eric),
(bob)-[:FOLLOWS]->(alice),
(bob)-[:FOLLOWS]->(eric),
(eric)-[:FOLLOWS]->(alice),
(eric)-[:FOLLOWS]->(bob)

CREATE
(post1)-[:HAS_COMMENT]->(comment1),
(post1)-[:HAS_COMMENT]->(comment11),
(post2)-[:HAS_COMMENT]->(comment2),
(post2)-[:HAS_COMMENT]->(comment10),
(post3)-[:HAS_COMMENT]->(comment3),
(post3)-[:HAS_COMMENT]->(comment9),
(post4)-[:HAS_COMMENT]->(comment4),
(post5)-[:HAS_COMMENT]->(comment5),
(post5)-[:HAS_COMMENT]->(comment12),
(post6)-[:HAS_COMMENT]->(comment6),
(post6)-[:HAS_COMMENT]->(comment14),
(post7)-[:HAS_COMMENT]->(comment7),
(post7)-[:HAS_COMMENT]->(comment13),
(post8)-[:HAS_COMMENT]->(comment8),
(post8)-[:HAS_COMMENT]->(comment15);
'''

wipe_out_db(session)
session.run(query)

### Data Retrieval

#### Retrieve a property of a specific User

In [31]:
def retrieve_user_info(session, user_id):
    # Retrieve user information
    query = f'''
    MATCH (n:User {{user_id: {user_id}}})
    RETURN n.user_id AS `user id`, n.first_name AS `first name`, n.last_name AS `last name`, n.email AS `email`, n.phone_number AS `phone number`, n.graduation_year AS `graduation year`;
    '''
    return run_query_to_pandas(session, query)

In [32]:
retrieve_user_info(session, 1)

,user id,first name,last name,email,phone number,graduation year
0,1,Alice,Smith,a.smith@gmail.com,1234567890,2017

#### Find all Posts by a specific User

In [34]:
def retrieve_all_posts_by_user(session, user_id):
    query = f'''
    MATCH (n:User {{user_id: {user_id}}})-[:POSTED]->(p:Post)
    RETURN 
        p.post_id AS `post id`,
        p.post_text AS `post text`,
        p.post_date AS `post date`,
        p.topic AS `topic`
    ORDER BY p.post_date ASC;
    '''
    return run_query_to_pandas(session, query)

In [35]:
retrieve_all_posts_by_user(session, 5)

,post id,post text,post date,topic
0,4,Does anyone have recommendations for a good Ma...,2023-01-04,Education and Professional Development
1,5,Looking for team members for a hackathon next ...,2023-01-05,Education and Professional Development
2,7,Looking for a study group for the machine lear...,2023-01-07,Education and Professional Development

#### Find all Users who posted a specific topic of Post

In [38]:
def retrieve_all_users_by_topic(session, topic):
    query = f'''
    MATCH (u:User)-[:POSTED]->(p:Post {{topic: '{topic}'}})
    RETURN 
        p.topic AS `topic`,
        u.user_id AS `user id`,
        u.first_name AS `first name`,
        u.last_name AS `last name`
    ORDER BY u.user_id ASC;
    '''
    return run_query_to_pandas(session, query)

In [39]:
retrieve_all_users_by_topic(session, 'Education and Professional Development')

                                    topic  user id first name last name
0  Education and Professional Development        4      Diana      Ross
1  Education and Professional Development        4      Diana      Ross
2  Education and Professional Development        4      Diana      Ross
3  Education and Professional Development        5       Eric   Clapton
4  Education and Professional Development        5       Eric   Clapton
5  Education and Professional Development        5       Eric   Clapton

#### Find common interests between two specific Users

In [48]:
def common_interests(session, user_id1, user_id2):
    query = f'''
    MATCH (u1:User {{user_id : {user_id1}}})-[:HAS_INTEREST]->(r:Interest)<-[:HAS_INTEREST]-(u2:User {{user_id: {user_id2}}})
    RETURN
        u1.first_name AS `user 1`,
        u2.first_name AS `user 2`,
        r.interest_name AS `common interest`;
    '''
    return run_query_to_pandas(session, query)

In [49]:
common_interests(session, 1, 2)

  user 1 user 2 common interest
0  Alice    Bob            Pool

#### Retrieve top 3 Users who created most Posts

In [51]:
def top3_users_by_posts(session):
    query = '''
    MATCH (u:User)-[:POSTED]->(p:Post)
    RETURN
        u.user_id AS `user id`,
        u.first_name AS `first name`,
        u.last_name AS `last name`,
        COUNT(p) AS `number of posts`
    ORDER BY COUNT(p) DESC
    LIMIT 3;
    '''
    return run_query_to_pandas(session, query)

In [53]:
top3_users_by_posts(session)

   user id first name last name  number of posts
0        4      Diana      Ross                3
1        5       Eric   Clapton                3
2        1      Alice     Smith                1

#### Retrieve Users who haven’t created any Posts

In [56]:
def users_with_no_posts(session):
    query = '''
    MATCH (u:User)
    WHERE NOT (u)-[:POSTED]->(:Post)
    RETURN
        u.user_id AS `user id`,
        u.first_name AS `first name`,
        u.last_name AS `last name`;
    '''
    return run_query_to_pandas(session, query)

In [57]:
users_with_no_posts(session)

   user id first name last name
0        3    Charlie     Brown
1        6      Fiona     Apple

#### Find second degree connections between two Users

In [59]:
def friendship_chain(session, user_id1, user_id2):
    query = f'''
    MATCH (u1:User {{user_id: {user_id1}}})-[:FOLLOWS]->(u2:User)<-[:FOLLOWS]-(u3:User {{user_id: {user_id2}}})
    WHERE NOT (u1)-[:FOLLOWS]->(u3)
    RETURN u2.user_id AS `user id`, u2.first_name AS `first name`, u2.last_name AS `last name`;
    '''
    return run_query_to_pandas(session, query)

In [63]:
friendship_chain(session, 1, 6)

   user id first name last name
0        5       Eric   Clapton

#### Identify orphaned Users (Users who don’t have any connections)
This function will be useful to recommend connections to orphaned Users.

In [64]:
def orphaned_users(session):
    query = '''
    MATCH (u:User)
    WHERE NOT (u)-[:FOLLOWS]->(:User)
    RETURN
        u.user_id AS `user id`,
        u.first_name AS `first name`,
        u.last_name AS `last name`;
    '''
    return run_query_to_pandas(session, query)

In [65]:
orphaned_users(session)

   user id first name last name
0        3    Charlie     Brown